body,h1,h2,h3,h4,h5,h6,p,span,a{
    font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
}
.grybg{
    background-color: #f9fafb;
}
/*slaider-section*/
.slider-section.container-fluid{
    max-width: 1480px;
}
}

/*main-header*/
.main-header.container-fluid{
    
}
body .btn-primary{
    background-color: #e73a3e !important;
    border-color: #e73a3e !important;
    padding: 12px 40px;
    font-size: 18px;

    position: relative;
    z-index: 1;
}
body .btn-primary::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #111;
    border-color: #111;
    z-index: -1;
    transition: .4s;
}
body .btn-primary:hover::after{
    width: 100%;

}

/*menu*/
ul.our-primary-menu{}
ul.our-primary-menu li{}
.our-primary-menu li a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    color: #111;
    font-weight: 500;
}

ul .our-primary-menu li a:hover{}
/*dropdawn*/
.our-primary-menu li{
    position: relative;
}
ul.our-primary-menu li ul{
    position: absolute;
    width: 300px;
    top: 140%;
    left: 0;
    background: #fafafa;
    list-style: none;
    padding: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0,0.1);

    opacity: 0;
    visibility: hidden;
    transition:all .4s ease-in-out;
}

.our-primary-menu li ul li{
    flex-direction: column;
}
ul.our-primary-menu li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 120%;
}

.our-primary-menu  li ul li a{}
/*header info*/
.header-info{}
.header-search{
    width:60px;
    font-size: 22px;
    text-align: center;
    margin-right: 20px;
    border-right:1px solid #ddd;
}
.header-call{
    width: 220px;
}
.header-call-icon{
    font-size:33px;
    color: #e73a3e;
    
}
.header-call-info a{
    font-weight: 500;
    color: #111;
    text-decoration: none;
    font-size: 18px;
}

.header-button{}
/*slider-banner*/
.slider-section{
    background:url(./img/main-banner2.jpg) no-repeat top center fixed;
    background-size: cover;
}
.slider-content h6{
    margin-bottom: -60px;
    color: #e73a3e;

}
.slider-content h1{
    font-size: 62px;
    margin-top:100px;
    margin-bottom: 20px;
}
.slider-content p{
    font-weight: 400;
    color: #606060;
    font-size: 20px;
}
.slider-content-wrap{
    height: 90vh;
    display: flex;
    align-items: center;
    position: relative;
}

.header-social{
    position: absolute;
    bottom: 0;
    left: 0;
}
.header-social ul{
    list-style: none;
    padding-left: 0;
}
.header-social ul li span {
	font-size: 18px;
	display: inline-block;
	margin-right: 50px;
	position: relative;
}

.header-social ul li span::after {
    content: "";
    height: 1px;
    background: #111;
    width: 35px;
    position: absolute;
    right: -45px;
    top: 51%;
}

.header-social ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 0 14px;
    color: #111;
    font-size: 19px;
}

/*part 2*/
.logo-section{
    border-bottom: 1px solid #ddd;
}
.client-logo ul{
    list-style: none;
    padding-left: 0;
}

/*about-section3*/
img{
    max-width: 100%;
}
.about-image{
    position: relative;
}
.about-img-text{
    position: absolute;
    right:100px;
    bottom: 0;
    background-image: url(./img/shape.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-img-text h2{}
.about-img-text p{}

.about-text{}
.finix-text{}
.finix-text h6{
    color: #e63b3d;
    font-weight: 400;
}
.jamela{
    font-size: 42px;
}
.finix-text h2{
 
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 20px;
}
.finix-text p{
    color: #606060;
    font-size: 18px;
}
.finix-text strong{
    color: #606060;
    font-weight: 400;
    font-size: 20px;
}
.finix-text ul{
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}
.finix-text ul li{
    padding: 5px 0;
}
.finix-text ul li::before{
    content: "\f00c";
	font-family: 'Font Awesome 5 Free';
	font-weight: 600;
	color: #e63b3d;
    display: inline-block;
    margin-right: 10px;
}
/*part-4slider*/
.feature-item{
    background: #fff;
    padding: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    transition: .5s;
}
.feature-item:hover{
    transform: translateY(-12px);
    
}
.feature-item::before {
    content: "";
    position: absolute;
    top: -135px;
    right: 0;
    left: 0;
    margin: auto;
    width: 90%;
    height: 70%;
    background: #fdebeb;
    border-radius: 50%;
}
.feature-item .ft-icon{
    position: relative;
    z-index: 1;
}
.feature-item .ft-icon i{
    color:#E74B4D;
    font-size: 30px;
    height: 90px;
    width: 90px;
    line-height: 90px;
    background-color: #fff;
    border-radius: 50%;
    transition: .5s;
    
}
.feature-item:hover .ft-icon i{
    color: #fff;
    background: #E74B4D;
}
.mrtop{
    margin-top: -25px;
}

.ft-icon{}
.ft-icon h3{}
.ft-icon p{}
.finix-text{
    position: relative;
}
.paly-animation-btn{
    width: 90px;
	height: 90px;
	display: inline-block;
	background: #fff;
	font-size: 60px;
	text-align: center;
	line-height: 90px;
	color: #e73a3e;
	border-radius: 50%;
	position: absolute;
	right: 41%;
	bottom: 51px;

}
.paly-animation-btn::before{
    content: "";
    width: 90px;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    background: #e73a3e;
    border-radius: 50%;
    animation: palybtn 1.6s ease-out infinite;
}
@keyframes palybtn{
    0%,30%{
        transform: scale(0);
        opacity: 1;
    }
    50%{
        transform: scale(1.5);
        opacity: .7;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}
/*apply-now-section*/
/* part-5 */
.apply-now-section{}
.apply-now-left-tes{}
.step-timeline{}
.step-timeline ul{
    list-style: none;
    position: relative;
    padding-left: 60px;
}
.step-timeline ul::before {
    content: "";
    position: absolute;
    left: 15px;
    top: 10px;
    width: 1px;
    height:calc(100% - 100px);
    background: #e73e3e;
}
.step-timeline ul li {
    margin-bottom: 25px;
    position: relative;
}
.step-timeline ul li::before {
	content: attr(data-counter);
    position: absolute;
    left: -65px;
    top: 0;
    width: 40px;
    height: 40px;
    background: #f9fafb;
    border: 1px solid #e73e3e ;
    border-radius:50%;
    line-height: 40px;
    text-align: center;
}

.step-timeline ul li strong{
    font-size: 24px;
    display: block;
    margin-bottom: 10px;
    
}
.step-timeline p{
    color: #606060;
}
/* 4 secanpart */
.calculate-rate{
    background: #fdebeb;
    padding: 50px;
}
.apply-now-left-test{
    margin-top: 70px;
}
.calculate-rate .finix-text{}
.calculate-rate .finix-text h6{
    color: #606060;
}
.calculator-form{}
.calculator-form .form-group{
    margin-bottom: 20px;
}
.calculator-form .form-group input{
    border: none;
    border-radius: 0;
    padding: 14px 15px;
}
.calculator-form .form-group select{
    border: none;
    border-radius: 0;
    height: 53px;
}
.calculator-form .form-group label{
    display: block;
    margin-bottom: 10px;
}
/* coll-section 5 */
.bg{
    background: #e73a3e;
   padding: 60px;
   padding-bottom: 60px;
   color: #fff;
   padding-bottom: 40px;
   border-radius: 6px;
}
.coll-text h2{
   font-size: 40px;
   font-weight: 400;
    border-right: 1px solid #ddd;}
.coll-icon-text{
    margin-top: 30px;
}
.coll-icon-text span{
    display: inline-block;
    width: 55px;
    height: 60px;
    color: #e63b3d;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 40px;
}
.coll-icon-text a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
   
    
}
/* company-icon part 6 */
.company-icon{
    width: 180px;
    
    
}
.company-icon i{
    font-size:50px;
    padding-right: 10px;
    color: #ed3c3f;
}
.company-about h3{
    font-size: 24px;
}
.company-about p{
color:#606060;
    font-size:14px
}
.company-text{
   padding-bottom: 10px;
    
}
.muskil{
    margin-left:-10px;
}
.company-img img{
    margin-top: 40px;
}
/* servicec-tab-icon day 6 */
.servicec-tab-icon{
border-bottom: 2px solid #ddd;
}
.servicec-tab-icon li{
    flex: 1 1 auto;
}
.servicec-tab-icon li a.active span i{
    color: red;
}
.servicec-tab-icon li i{
    width: 70px;
    height: 70px;
    background: #fff;
    line-height: 70px;
    font-size: 30px;
    border-radius: 50%;
    color:#111;
}
.servicec-tab-icon li strong{
    font-size: 20px;
    color: #606060;
}
.serives-tab-content{}
.serives-tab-content{}
.serives-tab-content ul{
    list-style: none;
    padding-left: 0;
}
.serives-tab-content ul li{}
.serives-tab-content ul li::before{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    margin-right: 5px;
}
/* testimonial-section 7-1*/
.testimonial-section{}
.testimonial-section p{
    font-size: 22px;
    color: #606060;
}
.claint-detles h5{
    color: red;
}
.claint-detles p{
    margin-top: -10px;
    font-weight: 700;
}
/* part7-2*/
.team-member-section{}
.team-member{}
.member-image{
    position: relative;
    left: 
}
.member-image img{
    max-width: 100%;
    height: auto;
}

.member-social-profile {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.member-social-profile ul{
    text-align: center;
    padding-left: 0;
    margin-bottom: 25px;
}
.member-social-profile ul li{
    display: inline-block;

    transition: .5s ease-in-out;
    transform: translateY(45px);
    opacity: 0;
    visibility: hidden;
}
.member-image:hover .member-social-profile ul li{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.member-image .member-social-profile ul li:nth-child(1){
    transition-delay: .2s;
}
.member-image .member-social-profile ul li:nth-child(2){
    transition-delay: .3s;
}
.member-image .member-social-profile ul li:nth-child(3){
    transition-delay: .4s;
}
.member-image .member-social-profile ul li:nth-child(4){
    transition-delay: .5s;
}

.member-social-profile li a{
    display: block;
    width:40px;
    height: 40px;
    font-size: 20px;
    background:#fff;
    line-height: 40px;
    border-radius: 50%;
    
}

.member-content{}
.member-content h4{}
.member-content p{}

/* 8 */
.blog-team-section{
    padding-left:20px;
}
.team-meamber-img{}
.team-meamber-img img{
    max-width: 100%;
    height: auto;
    
}

.team-member-text p{
    color: red;
    margin-top: 10px;
    font-size: 18px;
}
.team-member-text h3{}

.team-member-text h3 a{
   text-decoration: none;
    color:#111;
    font-size:25px;
}
.team-member-text a{
    text-decoration:none;
    color:#43ca75;
    font-size:17px;
    transition: .5s;
}
.blog-team-section:hover .team-member-text a{
    letter-spacing: 2px;
}
.blog-team-section:hover .team-member-text h3 a{
    letter-spacing: 0;
}
/* footer 8 */
.footer {
    background-color:#111111;
    color: #fff;
}
.footer-top{
    border-bottom: 1px solid #4444;
}
.footer-copyright p{
    margin-bottom: 0;
}
.footer a{
    color: #fff;
    text-decoration: none;
   
}
.footer-widget{}
.footer-widget ul{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
.footer-widget h3{
    border-bottom: 1px solid #444;
    font-size: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.footer-widget ul li a{
text-decoration: none;
transition: .5s;
}
.footer-widget ul li a:hover{
    letter-spacing: 2;
    color: red;
}
/* widget-social */
.widget-social{}
.footer-icon ul{
    display: flex;
}
.footer-icon ul li a{
    font-size: 20px;
    padding: 0px 10px;
    
}
.footer-widget p{
    font-size: 15px;
    line-height: 1.8em;
    margin-bottom: 25px;
}


.widget-social ul li{
    margin-bottom: px;
   padding-top: 10px;
}

.footer-contect-items{
    margin-top: 12px;
}
.footer-contect-items span{}
.footer-contect-items a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    transition: .5s;
    
}
.footer-contect-items span i{
    width: 45px;
    font-size: 20px;
    color: red;
}
.footer-contact .footer-contect-items{
  padding: 9px;
    
}
.footer-contect-items a:hover{
 color: red;
}